html,body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 0;
}

h3 {
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 3px;
}

h4 {
	padding-bottom: 10px;
	padding-right: 0px;
	border-bottom: solid 0.1px;
}

a {
	//color: white;
}

.parallax-window{
	max-width: 100%;
    min-height: 500px;
    background: transparent;
}

ul {
	list-style: none;
	padding-left: 0px;
	height: 100%;
}

li {
	display: inline-block;
	float: none;
	margin-left: 10%;
	margin-right: 10%;
}

#nav {
	text-align: center;
}

.navbar {
	text-align: center;
	list-style: none;
    line-height: 40px;
    border: none;
  	padding: 20px;
  	letter-spacing: 1px;
	text-transform: uppercase;
	z-index: 1;
	//background: none;
	color: black;

}
a:hover {
	color: #B2B2B2;
	text-decoration: none;
}

a:active {
	color: #292929;
}

.container{
	padding: 0px;
}

.contents {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.menu_column {
	width: 47%;
	float:left;
	text-align: left;
	padding-left: 45px;
}

.price {
	float: right;
}

.description {
	font-size: 11px;
}

#title {
	color:white;
}

#about {
	padding-top: 100px;
	padding-bottom: 100px;
	line-height: 200%;
}

#main {
	font-size: 30px;
	margin: 0px;
	padding-top: 100px;
	padding-bottom: 600px;
	background-position: center;
	height: 100%;
	background-color: #711f3e;

}

#menu {
	padding: 20px;
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 1000px;
}

#contact {
	padding-top: 100px;
	padding-bottom: 200px;
}



